<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title 进入一个块 -->
{% block title %}
    无垠的旋律 | 文章列表
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}


<style>
    .img-crop {
        width: 200px;
        height: 120px;
        object-fit: cover;
    }
</style>
<section class="container">
    <nav aria-label="breadcrumb" style="margin-top: 20px">

        <ol class="breadcrumb" style="display: block">

            <li class="breadcrumb-item">
                {% if order != "normal" %}
                <a href="{% url 'article:article_list' %}?search={{ search }}">
                    最新
                </a>
                {% else %}
                最新
                {% endif %}
            </li>
            <li class="breadcrumb-item">
                {% if order != "total_views" %}
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}">
                    最热
                </a>
                {% else %}
                最热
                {% endif %}
            </li>

                <form class="form-inline" style="float: right">
                    <label class="sr-only">content</label>

                    <input type="text"
                        class="search inline"
                        name="search"
                        placeholder="搜索文章..."
                        required
                    >
                    <i class="fa fa-search" style="
                    margin-bottom: 10px;
                    margin-left: 5px;
                    margin-right: -8px;"></i>
                </form>

        </ol>

    </nav>

    <div class="content-wrap">

    <!-- 开始填文章格子 -->

        {% for article in articles %}
        <article class="excerpt">
            <header>
            {% if article.column %}
                <a class="label label-important" style="color: white">
                    {{ article.column }}<i class="label-arrow"></i></a>
            {% endif %}
                <h2><a target="_blank" href="{% url 'article:article_detail' article.id %}" title="{{ article.title }}">
                    {{ article.title }}
                </a></h2>
                <div style="float: right;">
                {% for tag in article.tags.all %}
                <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                   class="badge badge-secondary"
                >
                    {{ tag }}
                </a>
                {% endfor %}
                </div>
            </header>

            {% if article.heading_img %}
            <div class="focus">
                <a target="_blank" href="{% url 'article:article_detail' article.id %}">
                    <img class="thumb img-crop" width="200" height="123"
                         src="{{ article.heading_img.url | default_if_none:'#' }}"
                         alt="{{ article.title }}"/>
                </a>
            </div>
            {% endif %}
            <span class="note"> {{ article.note | default:article.body|slice:'300' }} </span>
            <p class="auth-span">
                <span class="muted"><i class="fa fa-user"></i> {{ article.author }}</span>
                <span class="muted"><i class="fa fa-clock-o"></i> {{ article.updated|date:'Y-m-d' }}</span>
                <span class="muted"><i class="fa fa-eye"></i> {{ article.total_views }} 浏览</span>
            </p>
          </article>

    {% endfor %}
    </div>



</section>

<br/><br/>
<!-- 页码导航 -->
<div style="text-align: center">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-success">
                    &laquo; 1
                </a>
                <span> ... </span>
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span> ... </span>
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>
<br/><br/><br/>






{% endblock content %}