<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title 进入一个块 -->
{% block title %}
    文章列表首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}


<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                {% if order != "normal" %}
                <a href="{% url 'article:article_list' %}?search={{ search }}">
                    最新
                </a>
                {% else %}
                最新
                {% endif %}
            </li>
            <li class="breadcrumb-item">
                {% if order != "total_views" %}
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}">
                    最热
                </a>
                {% else %}
                最热
                {% endif %}
            </li>
        </ol>
    </nav>
    <!-- 新增，搜索栏，这是一个表单 以GET请求提交search参数；required属性阻止用户提交空白文本 -->
    <div class="row">
            <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text"
                    class="form-control mb-2 mr-sm-2"
                    name="search"
                    placeholder="搜索文章..."
                    required
                >
            </form>
            </div>
    </div>
    {% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}

    {% for article in articles %}
    <hr />
    <div class="row mt-2">




        <!-- 横条标题，宽度12col -->
        <div class="col-9">

            <!-- 标题 -->
            <h4>
                <b>
                <a href="{% url 'article:article_detail' article.id %}"
                   style="color: black;"
                >
                    {{ article.title }}
                </a>
                </b>
            </h4>

            <!-- 栏目&标签 -->
            {% if article.column %}
                <a href="{% url 'article:article_list' %}?column={{ article.column.id }}"
                   role="button"
                   class="btn btn-sm mb-2
                        {% if article.column.title == 'Algorithm' %}
                            btn-success
                        {% elif article.column.title == 'Ideolist' %}
                            btn-danger
                        {% else %}
                            btn-warning
                        {% endif %}
                   "
                >
                    {{ article.column }}
                </a>
            {% endif %}
            {% for tag in article.tags.all %}
                <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                   class="badge badge-secondary"
                >
                    {{ tag }}
                </a>
            {% endfor %}

            <!-- 摘要 -->
            <div>
            <p style="color: gray;">
                {{ article.body|slice:'100' }}...
            </p>
            </div>


            <p><small>
            <!-- 附加信息 -->
            <span style="color: #006ac9;">
                <i class="fas fa-eye" style="color: lightskyblue;"></i>
                {{ article.total_views }} &nbsp;&nbsp;&nbsp;
            </span>
            <span style="color: #51a900; ">
                <i class="fas fa-comments" style="color: yellowgreen;"></i>
                {{ article.created|date:'Y-m-d' }} &nbsp;&nbsp;&nbsp;
            </span>
            <span style="color: #df5c67;">
                <i class="fas fa-clock" style="color: pink;"></i>
                {{ article.updated|date:'Y-m-d' }}
            </span>
            </small>
            </p>


        </div>

        {% if article.heading_img %}
        <div class="col-3">
            <div style="max-height:120px; overflow-y:hidden; border-radius: 20px;">
            <img src="{{ article.heading_img.url }}"
                 alt="heading_img"
                 style="max-width:100%;"

            >
            </div>
        </div>
        {% endif %}


    </div>

    {% endfor %}




</div>

<!-- 页码导航 -->
<div class="pagination">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-success">
                    &laquo; 1
                </a>
                <span> ... </span>
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span> ... </span>
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column.id }}&tag={{ tag }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>







{% endblock content %}