{% extends "base.html" %} {% load staticfiles %}

{% block title %} 无垠的旋律 | 关于自己 {% endblock title %}

{% block content %}

    <div class="article-content">
        <div style="text-indent:0px;text-align:center">
            <!-- personal -->
            <h2 style="text-align: center;">个人简介</h2>
            <p></p>
            <p>
                <img src="{%  static 'favicon_io/android-chrome-512x512.png' %}" alt="能生吃柠檬" style="border-radius:50%;width:100px">
            </p>
            <p style="text-align: center;font-size:16px">Crysflair</p>
            <p id="brief" style="text-align: center;">爱就是飞向一片神秘天空，就是每一刻摘去一层伪饰。</p>
            <p id="brief" style="text-align: center;">首先放下生活，然后纵身一跃。</p>
            <p id="brief" style="text-align: center;">我们是无垠的旋律，诗歌是它粗糙的乐谱。</p>
            <p id="brief" style="text-align: center;">我们是心肝脑肺，我们是奇迹星尘。</p>
            <p style="text-align: center;">
                <p><!-- contact --></p>
                <h2 style="text-align: center;">与我联系</h2>
            <p><!-- end contact -->

            <p>
                <img src="{%  static 'qr_wechat.png' %}" alt="QR code WeChat" style="border-radius:50%;width:400px">
            </p>
        </div>
    </div>
{% endblock content %}