<!DOCTYPE html>

<!-- 网站主语言,default=en -->
<!-- 载入静态文件 -->
{% load staticfiles %}

<html lang="zh-ch">

<head>
    <meta charset="UTF-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>

    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{%  static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{%  static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{%  static 'favicon_io/site.webmanifest' %}">


</head>


<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <!-- 预留具体页面的位置 -->
    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push"></div>
    </div>
    <!-- 引入注脚 -->
    {% include 'footer.html' %}
    <!-- 增加样式 -->
    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->

    <script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'popper/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="https://kit.fontawesome.com/313d0b5160.js" crossorigin="anonymous"></script>


    {% include 'back_to_top_func.html' %}

    {% block script %}{% endblock script %}

</body>
</html>