<!DOCTYPE html>

<!-- 网站主语言,default=en -->
<!-- 载入静态文件 -->
{% load staticfiles %}

<html lang="zh-ch">

<head>
    <meta charset="UTF-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>

    <!-- 引入css文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">

    <!-- /all in one seo pack 来自 渡 StormSha-->
    <link rel="stylesheet" href="{% static 'css/output.e875214a3225.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/output.83a7e8280e53.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/output.6a598ffdd222.css' %}" type="text/css" media="screen, print">
    <link rel="stylesheet" href="{% static 'css/output.754215d0d32f.css' %}" type="text/css" media="print">
    <link rel="stylesheet" href="{% static 'css/output.cea50499166a.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/output.af4555336800.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/output.de3f3f54226c.css' %}" type="text/css" media="all">

    <script type="text/javascript" src="{% static 'js/output.214e8822bf81.js' %}"></script>


    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{%  static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{%  static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{%  static 'favicon_io/site.webmanifest' %}">


</head>


<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <!-- 预留具体页面的位置 -->
    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push"></div>
    </div>
    <!-- 引入注脚 -->
    {% include 'footer.html' %}


    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'popper/popper.js' %}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="https://kit.fontawesome.com/313d0b5160.js" crossorigin="anonymous"></script>

    <!-- 其他尾部元素和script -->
    {% include 'back_to_top_func.html' %}

    {% block script %}{% endblock script %}

</body>
</html>