{% load staticfiles %}


<footer class="footer" style="flex: 0 0 auto; position: relative">
    <div class="footer-inner">
        <div class="copyright pull-left">
            Crysflair 版权所有丨采用
            <a href="javascript:window.open('https://yusi123.com/');"> 欲思 </a>主题丨
            <a href="javascript:window.open('https://www.djangoproject.com/');" title="Django" target="_blank">基于Django构建</a>© 2020丨托管于
            <a rel="nofollow" target="_blank" href="javascript:window.open('https://www.aliyun.com/');" title="阿里云主机" target="_blank">阿里云主机</a>
            <a href="javascript:window.open('https://www.beian.miit.gov.cn/');" title="Sitemap" target="_blank"> 京ICP备20026824号-1</a>
        </div>
    </div>
</footer>